table,th,td{
    border:1px solid black;
    /* border-collapse: collapse; */
    padding:20px;
    text-align: center;
    font-size: 20px;
    border-radius: 50px;
   
    
}
table{
    width:60%;
    background-color: red;
    
}
th{
    background-color: black;
    color:white;
}
tr:nth-child(odd)
{
    background-color:white;
}
tr:nth-child(even)
{
    background-color: gray;
}
td:hover{
    background-color: blue;
    color:white;
    cursor: pointer;
}